// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

/*=== COMMON ===*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    word-break: break-word;
}
html,
body {
    height: 100%;
}
body {
    background: #f9fbfe;
}
a {
    color: #000;
    text-decoration: none;
    background-color: transparent;
}
li {
    list-style-type: none;
}
input,
select,
textarea,
button {
    font-size: 100%;
    font-family: inherit;
}
textarea {
    font-family : "Arial", "Hiragino Kaku Gothic ProN";
    display: block;
    resize: vertical;
}

/*=== HEADER ===*/
header {
    position: fixed;
    width: 100%;
    height: 48px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(160, 166, 179, 0.5);
    font-size: 0.8rem;
    letter-spacing: 1px;
    z-index: 100;
}
.header-container {
    max-width: 950px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        height: 48px;
        display: flex;
        align-items: center;
        font-weight: bold;
        margin: 0 9px;
        transition: all .2s;
    }
    a:hover {
        opacity: 0.8;
        box-shadow: inset 0 -4px 0 0 #2db68f
    }
}
.header-home-a {
    font-size: 1.2rem;
}
.under-header {
    height: 48px;
    background-color: #fff;
}

/*=== FOOTER ===*/
footer {
    position: sticky;
    top: 100vh;
    width: 100%;
    background-color: #fff;
    font-size: 0.7rem;
    letter-spacing: 0.5px;
    border-top: 1px solid #eee;
    padding: 15px 10px;
    text-align: center;
}

/*=== TEMPLATE ===*/
.main {
    padding-top: 35px;
}

/*========= USERS =========*/
